@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Sample0 Primary Keys", "Index", new { Area = "Sample0PrimaryKeys" })</li>
    <li>@Html.ActionLink("Sample1 Complex Objects", "Index", new { Area = "Sample1ComplexObjects" })</li>
    <li>@Html.ActionLink("Sample2 One Many", "Index", new { Area = "Sample2OneMany" })</li>
    <li>@Html.ActionLink("Sample3 Many Many", "Index", new { Area = "Sample3ManyMany" })</li>
    <li>@Html.ActionLink("Sample4 Lazy Loading", "Index", new { Area = "Sample4LazyLoading" })</li>
    <li>@Html.ActionLink("Sample5 Inheritance", "Index", new { Area = "Sample5Inheritance" })</li>
    <li>@Html.ActionLink("Sample6 Transactions", "Index", new { Area = "Sample6Transactions" })</li>
    <li>@Html.ActionLink("Sample7 Concurrency", "Edit", new { Area = "Sample7Concurrency" })</li>
    <li>@Html.ActionLink("Sample8 Stored Procedures", "Index", new { Area = "Sample8StoredProcedures" })</li>

</ul>


<ul>
    <li><a href="http://msdn.microsoft.com/en-us/library/hh295847(v=vs.103).aspx">Configuring Properties with Fluent API</a></li>
</ul>